In [69]:
"""
The concept:

In each row of the included datasets, products X and Y are considered to refer to the same security if 
they have the same ticker, even if the descriptions don't exactly match. The challenge is to use these 
descriptions to predict whether each pair in the test set also refers to the same security. 
"""

import re
import jellyfish as jf
from sklearn import cross_validation
import string
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.grid_search import GridSearchCV
from sklearn import svm
from sklearn.metrics import f1_score, make_scorer, accuracy_score
import pandas as pd
import numpy as np
from IPython.display import display

train = pd.DataFrame.from_csv('code_challenge_train.csv')
test = pd.DataFrame.from_csv('code_challenge_test.csv')

In [2]:
train.head(5)

,description_x,description_y,ticker_x,ticker_y,same_security
0,first trust dow jones internet,first trust dj internet idx,FDN,FDN,True
1,schwab intl large company index etf,schwab strategic tr fundamental intl large co ...,FNDF,FNDF,True
2,vanguard small cap index adm,vanguard small-cap index fund inst,VSMAX,VSCIX,False
3,duke energy corp new com new isin #us4 sedol #...,duke energy corp new com new isin #us26441c204...,DUK,DUK,True
4,visa inc class a,visa inc.,V,V,True

In [3]:
test.head(5)

,description_x,description_y,same_security
0,semtech corp,semtech corporation,NaN
1,vanguard mid cap index,vanguard midcap index - a,NaN
2,spdr gold trust gold shares,spdr gold trust spdr gold shares,NaN
3,vanguard total bond index adm,vanguard total bond market index,NaN
4,oakmark international fund class i,oakmark international cl i,NaN

# Analysis

In this section, we analyze the data and come up with a model that would predict whether (X,Y) pairs conform to the same security in the test set.

### I. Creating data sets for cross-validation and testing

In [4]:
# divide the original train set into cross-validation and test set
train_cv, test_cv = cross_validation.train_test_split(train, 
                                                      train_size=0.8, 
                                                      random_state=0)

In [5]:
train_cv.head(5)

,description_x,description_y,ticker_x,ticker_y,same_security
1909,growth fund of america cl a,growth fund of america class a - american fund...,AGTHX,AGTHX,True
1697,california wtr svc group inc,ca water service grp,CWT,CWT,True
1361,microsoft corporation cmn,microsoft corporation,MSFT,MSFT,True
2002,vanguard total international bond etf,vanguard total intl bond index etf,BNDX,BNDX,True
910,vang sm cap idx adm,vanguard small-cap index fund inst,VSMAX,VSCIX,False

In [6]:
# Number of True examples in the train set
train_true = float(train_cv.loc[train_cv['same_security']==True].shape[0])
# Number of False examples in the train set
train_false = float(train_cv.loc[train_cv['same_security']==False].shape[0])

In [7]:
# fraction of true examples
train_true/train_cv.shape[0]

0.7478108581436077

Thus, the data set is not balanced, and has larger number of *True* examples.

In [8]:
def df_transform(df):
    """
    Input: Data Frame
    Output: Transformed Data Frame (see below)
    
    Transformation:
    Removes punctuation marks from the descriptions
    since, when comparing descriptions either using term freuency, 
    or other methods, presence or absence of punctuation is not that critical,
    and, in fact, can be misleading.
    I choose not to lemmatize the words since these are mostly
    corporation names, and not normal english words.
    """
    string_x = []
    string_y = []
    punc = list(string.punctuation)
    for row in df.itertuples():
        x = [e for e in row[1] if e not in punc]
        y = [e for e in row[2] if e not in punc]
        string_x.append("".join(x))
        string_y.append("".join(y))
    
    df.loc[:,'x_nopunc'] = string_x
    df.loc[:,'y_nopunc'] = string_y
    
    return df

In [11]:
# transform train data
train_cv = df_transform(train_cv)

In [12]:
# this is how the modified train_cv data set looks like
train_cv.head(5)

,description_x,description_y,ticker_x,ticker_y,same_security,x_nopunc,y_nopunc
1909,growth fund of america cl a,growth fund of america class a - american fund...,AGTHX,AGTHX,True,growth fund of america cl a,growth fund of america class a american funds mf
1697,california wtr svc group inc,ca water service grp,CWT,CWT,True,california wtr svc group inc,ca water service grp
1361,microsoft corporation cmn,microsoft corporation,MSFT,MSFT,True,microsoft corporation cmn,microsoft corporation
2002,vanguard total international bond etf,vanguard total intl bond index etf,BNDX,BNDX,True,vanguard total international bond etf,vanguard total intl bond index etf
910,vang sm cap idx adm,vanguard small-cap index fund inst,VSMAX,VSCIX,False,vang sm cap idx adm,vanguard smallcap index fund inst

### II. Similarity scores between (X, Y) description pairs

I calculate a similarity score between the adjacent descriptions in X and Y using three measures
a) Jaro Winkler 
b) Levenshtein distance 
c) cosine similarity based on term frequency. 
These distances can be computed using the python module called 'jellyfish' and tfidfvectorizer in scikit-learn. I will use these numeric scores later to build a classification model.

In [13]:
def similarity_feature(df):
    """
    Input: Data Frame
    Output: Data Frame with additional columns having
            Levenshtein distance, Jaro Winkler distance
            and cosine similarity based on term frequency
    """
    def jw(x,y):
        # Jaro Winkler distance
        return jf.jaro_winkler(unicode(x,"utf-8"),unicode(y,"utf-8"))
    def lv(x,y):
        # Levenshtein distance
        return jf.levenshtein_distance(unicode(x,"utf-8"),unicode(y,"utf-8"))
    def tf(x,y):
        # cosine similarity based on term frequency
        # use the tf-idf vectorizer in scikit-learn
        # I will not use idf, since we are doing string matching
        # and not interested whether a word occurs too frequently
        # across documents (a measure of its importance)        
        tf_transformer = TfidfVectorizer(analyzer="word",use_idf=False)
        document = [x,y]
        tf_vec = tf_transformer.fit_transform(document)
        similarity_score = np.multiply(tf_vec[0],tf_vec[1].T).sum()
        return similarity_score
        
    df.loc[:,'jaro_winkler'] = map(jw,df['x_nopunc'],df['y_nopunc']) 
    df.loc[:,'levenshtein'] = map(lv,df['x_nopunc'],df['y_nopunc'])   
    df.loc[:,'levenshtein'] = df.levenshtein.astype('float64')
    df.loc[:,'tf_similarity'] = map(tf,df['x_nopunc'],df['y_nopunc'])
    
    return df

In [14]:
train_cv = similarity_feature(train_cv)

In [15]:
# Here is how the training set looks now
train_cv.head(5)

,description_x,description_y,ticker_x,ticker_y,same_security,x_nopunc,y_nopunc,jaro_winkler,levenshtein,tf_similarity
1909,growth fund of america cl a,growth fund of america class a - american fund...,AGTHX,AGTHX,True,growth fund of america cl a,growth fund of america class a american funds mf,0.902797,22.0,0.632456
1697,california wtr svc group inc,ca water service grp,CWT,CWT,True,california wtr svc group inc,ca water service grp,0.792493,20.0,0.000000
1361,microsoft corporation cmn,microsoft corporation,MSFT,MSFT,True,microsoft corporation cmn,microsoft corporation,0.968000,4.0,0.816497
2002,vanguard total international bond etf,vanguard total intl bond index etf,BNDX,BNDX,True,vanguard total international bond etf,vanguard total intl bond index etf,0.911211,12.0,0.730297
910,vang sm cap idx adm,vanguard small-cap index fund inst,VSMAX,VSCIX,False,vang sm cap idx adm,vanguard smallcap index fund inst,0.831898,17.0,0.000000

### III. Building a classification model

At first, let me modify the held out test set according to the transformation rules used before on the training set.

In [16]:
# This is the test set with jaro winkler, Levenshtein and cosine similarity scores
test_cv = df_transform(test_cv)
test_cv = similarity_feature(test_cv)
test_cv.head(5)

,description_x,description_y,ticker_x,ticker_y,same_security,x_nopunc,y_nopunc,jaro_winkler,levenshtein,tf_similarity
1719,cohen & steers real est secs i,cohen & steers real estate secs i,CSDIX,CSDIX,True,cohen steers real est secs i,cohen steers real estate secs i,0.974353,3.0,0.800000
175,chemours company,chemours co,CC,CC,True,chemours company,chemours co,0.937500,5.0,0.500000
1220,vanguard total bond market index fund admiral ...,vang tot bd mkt inst,VBTLX,VBTIX,False,vanguard total bond market index fund admiral ...,vang tot bd mkt inst,0.619088,33.0,0.000000
562,motley fool independence,motley fool independence fund,FOOLX,FOOLX,True,motley fool independence,motley fool independence fund,0.965517,5.0,0.866025
1184,royal dutch shell plc sponsored adr repstg a shs,royal dutch shell plc,RDS.A,RDS.A,True,royal dutch shell plc sponsored adr repstg a shs,royal dutch shell plc,0.887500,27.0,0.707107

In [17]:
# fraction of True examples in the held out test set
float(test_cv.loc[test_cv['same_security']==True].shape[0])/test_cv.shape[0]

0.7738927738927739

Thus, the test_cv set is imbalanced, and a naive prediction can have an accuracy of 77%. The F1-score will be a better metric for judging model accuracy.

#### A. KNeighbors Classifier with Grid Search

In [66]:
# I use a k-nearest neighbor classifier
# with features as the Jaro Winkler, Levenshtein distance and cosine similarity
# I do a grid search to find the best parameters
# with 5-fold cross-validation
features = ['jaro_winkler','levenshtein','tf_similarity']
knn = KNeighborsClassifier()
parameters = {'n_neighbors':(5,10,15,20,25), 'weights':('distance','uniform')}

# We choose f1_score for the False class as a metric
# to compare between models
f1_false = make_scorer(f1_score,pos_label=0)
knn_grid = GridSearchCV(knn,parameters,cv=5,scoring=f1_false)

# fit to the train data with five fold cross-validation
knn_fit = knn_grid.fit(train_cv.loc[:,features],train_cv.same_security)

In [67]:
# Best KNN parameters
knn_grid.best_params_

{'n_neighbors': 5, 'weights': 'distance'}

In [101]:
# F1-score for False class (used as score function)
knn_score = knn_fit.score(test_cv.loc[:,features],test_cv.same_security)
knn_predict = knn_fit.predict(test_cv.loc[:,features])
knn_score

0.45303867403314918

In [102]:
# Average prediction accuracy
accuracy_score(test_cv.same_security,knn_predict)

0.76923076923076927

In [103]:
# F1-score for True class
f1_score(test_cv.same_security,knn_predict)

0.85376661742983762

#### B. Support Vector Classifier with Grid Search

In [96]:
# I use a Support Vector classifier
# with features as the Jaro Winkler, Levenshtein distance and cosine similarity
# I do a grid search to find the best parameters
# with 5-fold cross-validation
features = ['jaro_winkler','levenshtein','tf_similarity']
svc = svm.SVC()
parameters = {'kernel':('linear','rbf'), 'C':(20,30,35)}

# We choose f1_score for the False class as a metric
# to compare between models
f1_false = make_scorer(f1_score,pos_label=0)
svc_grid = GridSearchCV(svc,parameters,cv=5,scoring=f1_false)

# fit to the train data with five fold cross-validation
svc_fit = svc_grid.fit(train_cv.loc[:,features],train_cv.same_security)

In [97]:
svc_grid.best_params_

{'C': 30, 'kernel': 'rbf'}

In [98]:
# F1-score for False class (used as score function)
svc_score = svc_fit.score(test_cv.loc[:,features],test_cv.same_security)
svc_predict = svc_fit.predict(test_cv.loc[:,features])
svc_score

0.35036496350364965

In [99]:
# Average prediction accuracy
accuracy_score(test_cv.same_security,svc_predict)

0.79254079254079257

In [100]:
# F1-score for True class
f1_score(test_cv.same_security,svc_predict)

0.87656033287101254

# Result

Thus, the average prediction accuracy using either of the KNN or SVM classifier is around 77% on the held out test set. This is actually close to the fraction of *True* class population, and hence not a good metric to determine model performance. The F1-score on the *False* class, although less compared to the *True* class, is however, nonzero and is approximately 0.45 for the KNN classifier. We chose the model that maximised this score. We can now use this model to make predictions for the provided test set.

In [112]:
# transform the test set according to transformations described before
test = df_transform(test)
test = similarity_feature(test)

In [113]:
test.head(5)

,description_x,description_y,same_security,x_nopunc,y_nopunc,jaro_winkler,levenshtein,tf_similarity,predictions
0,semtech corp,semtech corporation,NaN,semtech corp,semtech corporation,0.926316,7.0,0.500000,True
1,vanguard mid cap index,vanguard midcap index - a,NaN,vanguard mid cap index,vanguard midcap index a,0.937879,4.0,0.577350,True
2,spdr gold trust gold shares,spdr gold trust spdr gold shares,NaN,spdr gold trust gold shares,spdr gold trust spdr gold shares,0.931713,5.0,0.956183,True
3,vanguard total bond index adm,vanguard total bond market index,NaN,vanguard total bond index adm,vanguard total bond market index,0.939532,9.0,0.800000,True
4,oakmark international fund class i,oakmark international cl i,NaN,oakmark international fund class i,oakmark international cl i,0.945249,8.0,0.577350,True

In [114]:
# predict class values using KNN classifier
test_predict = knn_fit.predict(test.loc[:,features])

In [115]:
test.loc[:,'predictions'] = test_predict
test.head(10)

,description_x,description_y,same_security,x_nopunc,y_nopunc,jaro_winkler,levenshtein,tf_similarity,predictions
0,semtech corp,semtech corporation,NaN,semtech corp,semtech corporation,0.926316,7.0,0.500000,True
1,vanguard mid cap index,vanguard midcap index - a,NaN,vanguard mid cap index,vanguard midcap index a,0.937879,4.0,0.577350,True
2,spdr gold trust gold shares,spdr gold trust spdr gold shares,NaN,spdr gold trust gold shares,spdr gold trust spdr gold shares,0.931713,5.0,0.956183,True
3,vanguard total bond index adm,vanguard total bond market index,NaN,vanguard total bond index adm,vanguard total bond market index,0.939532,9.0,0.800000,True
4,oakmark international fund class i,oakmark international cl i,NaN,oakmark international fund class i,oakmark international cl i,0.945249,8.0,0.577350,True
5,pfizer inc div: 1.200,pfizer inc com,NaN,pfizer inc div 1200,pfizer inc com,0.872932,8.0,0.577350,True
6,spartan global ex us index fid adv cl,sptn glb xus idx adv,NaN,spartan global ex us index fid adv cl,sptn glb xus idx adv,0.770811,17.0,0.158114,False
7,vanguard total bond market idx-adm,vanguard total bond market index fund investor...,NaN,vanguard total bond market idxadm,vanguard total bond market index fund investor...,0.908444,22.0,0.632456,True
8,banco latinoamericano de exportacio class e co...,banco latinoamericano come-e,NaN,banco latinoamericano de exportacio class e co...,banco latinoamericano comee,0.883367,30.0,0.408248,True
9,baidu inc fadr 1 adr reps 0.1 ord shs,baidu inc spons ads repr 0.10 ord cls a us0.00005,NaN,baidu inc fadr 1 adr reps 01 ord shs,baidu inc spons ads repr 010 ord cls a us000005,0.839621,21.0,0.353553,True

In [116]:
# fraction of predicted positives
float(test.loc[test['predictions']==True].shape[0])/test.shape[0]

0.8062015503875969

The above fraction is close to the fraction of positive examples in the training set.